.admin-user-control {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px; /* Adjust padding as needed */
    overflow: auto; /* Allows scrolling within the main content if it overflows */
  }