.content-management {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.content-management .div-2 {
  background-color: #ffffff;
  height: 1413px;
  overflow: hidden;
  position: relative;
  width: 1919px;
}

.content-management .content {
  height: 489px;
  left: 0;
  position: absolute;
  top: 924px;
  width: 1920px;
  margin-top: auto;
  flex-direction: column;
}

.content-management .background {
  height: 489px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.content-management .background-wrapper {
  background-color: #464f34;
  height: 489px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.content-management .img {
  height: 489px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1919px;
}

.content-management .copyright {
  height: 44px;
  left: 360px;
  position: absolute;
  top: 419px;
  width: 1202px;
}

.content-management .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1200px;
}

.content-management .text-wrapper-2 {
  color: #ffffff;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 351px;
  letter-spacing: 0;
  line-height: 23.6px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.content-management .content-2 {
  align-items: flex-start;
  display: flex;
  gap: 290px;
  left: 443px;
  position: absolute;
  top: 118px;
  width: 1215px;
}

.content-management .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 171px;
  position: relative;
}

.content-management .logo-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 31px;
  position: relative;
  width: 181.29px;
}

.content-management .logo-2 {
  flex: 0 0 auto;
  margin-right: -259.71px;
  position: relative;
}

.content-management .content-3 {
  align-items: flex-start;
  display: flex;
  gap: 99px;
  position: relative;
  width: 694px;
}

.content-management .element {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.content-management .title {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 11px;
  position: relative;
}

.content-management .text-wrapper-3 {
  color: #ffffff;
  font-family: "Cabin-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23.2px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .rectangle {
  background-color: #d87d56;
  border-radius: 20px;
  height: 3.1px;
  position: relative;
  width: 31.95px;
}

.content-management .text-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.content-management .text-wrapper-4 {
  color: #ffffff;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .text-wrapper-5 {
  color: #ffffff;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .element-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.content-management .element-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.content-management .button {
  all: unset;
  align-items: flex-start;
  background-color: #ebebd3;
  border-radius: 42px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 15px 23px;
  position: relative;
}

.content-management .text-wrapper-6 {
  color: #464f34;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .newsletter-builder {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 681px;
  left: 0;
  padding: 50px 0px 170px;
  position: absolute;
  top: 243px;
  width: 1919px;
}

.content-management .div-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 781.87px;
}

.content-management .text-wrapper-heading {
  color: #181818;
  font-family: "Cabin-Bold", Helvetica;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 52.2px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 781.87px;
}

.content-management .element-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 1200.99px;
}

.content-management .element-title {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 794px;
}

.content-management .text-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 781.87px;
}

.content-management .text-wrapper-subheading {
  color: #181818;
  font-family: "Cabin-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.8px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 781.87px;
}

.content-management .input-instance {
  height: 71px !important;
  width: 624px !important;
}

.content-management .text-editor-instance {
  margin-bottom: -34px !important;
}

.content-management .content-wrapper-create {
  all: unset;
  align-items: center;
  background-color: #ebebd3;
  border-radius: 42px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: -89px;
  overflow: hidden;
  padding: 8px 41px 8px 10px;
  position: relative;
  width: 127px;
}

.content-management .content-create {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 11px;
  justify-content: flex-end;
  margin-left: -88.5px;
  margin-right: -88.5px;
  position: relative;
  width: 253px;
}

.content-management .text-wrapper-create {
  color: #353535;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1px;
  position: relative;
  width: 139px;
}

.content-management .mini-side-bar {
  background-color: #ebebd3;
  border-radius: 4px;
  height: 681px;
  left: 0;
  position: absolute;
  top: 0;
  width: 108px;
}

.content-management .overlap-group-2 {
  height: 185px;
  left: 8px;
  position: relative;
  top: 48px;
  width: 93px;
}

.content-management .nav {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 22px;
  position: absolute;
  top: 0;
}

.content-management .new-button {
  background-color: #464f34;
  border-radius: 24px;
  height: 48px;
  position: relative;
  width: 48px;
}

.content-management .icon-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 8px 12px;
  position: relative;
}

.content-management .icon {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.content-management .text-wrapper-10 {
  color: #000000;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 167px;
  width: 84px;
}

.content-management .text-wrapper-11 {
  color: #000000;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 103px;
  width: 92px;
}

.content-management .text-wrapper-12 {
  color: #000000;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 47px;
  width: 92px;
}

.content-management .line-2 {
  height: 16px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 1px;
}

.content-management .line-3 {
  height: 1px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 16px;
}

.content-management .text-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 569px;
  position: absolute;
  top: 158px;
  width: 782px;
}

.content-management .overlap {
  height: 125px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.content-management .header {
  -webkit-backdrop-filter: blur(21px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(21px) brightness(100%);
  background-color: #464f34e8;
  display: flex;
  gap: 105px;
  left: 0;
  padding: 40px 360px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.content-management .ongoing-living-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.content-management .ongoing-living {
  color: #ffffff;
  font-family: "Cabin-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 31.5px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.content-management .menu-bar {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.content-management .home-wrapper {
  height: 28px;
  position: relative;
  width: 65.89px;
}

.content-management .home {
  height: 28px;
  position: relative;
  width: 68px;
}

.content-management .text-wrapper-13 {
  color: #ffffff;
  font-family: "Lato-Regular", Helvetica;
  font-size: 17.7px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: 28.4px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.content-management .ellipse-2 {
  border: 0.98px solid;
  border-color: #505050;
  border-radius: 4.33px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 9px;
}

.content-management .element-5 {
  height: 28px;
  position: relative;
  width: 102.89px;
}

.content-management .home-2 {
  height: 28px;
  position: relative;
  width: 105px;
}

.content-management .text-wrapper-14 {
  color: #d87d56;
  font-family: "Lato-Regular", Helvetica;
  font-size: 17.7px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: 28.4px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.content-management .ellipse-3 {
  background-color: #d87d56;
  border: 0.98px solid;
  border-color: #e3ab9a;
  border-radius: 4.33px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 9px;
}

.content-management .element-6 {
  height: 28px;
  position: relative;
  width: 69.89px;
}

.content-management .home-3 {
  height: 28px;
  position: relative;
  width: 72px;
}

.content-management .element-7 {
  height: 28px;
  position: relative;
  width: 71.89px;
}

.content-management .element-8 {
  height: 28px;
  margin-right: -2px;
  position: relative;
  width: 80.89px;
}

.content-management .content-5 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 11px;
  justify-content: flex-end;
  margin-left: -93px;
  margin-right: -93px;
  position: relative;
  width: 262px;
}

.content-management .image {
  height: 90px;
  left: 248px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 90px;
}

.content-management .overlap-group {
  height: 489px;
  position: relative;
}

.content-management .background-wrapper {
  background-color: #464f34;
  height: 489px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.content-management .img {
  height: 489px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1919px;
}

.content-management .copyright {
  height: 44px;
  left: 360px;
  position: absolute;
  top: 419px;
  width: 1202px;
}

.content-management .text-wrapper-22 {
  color: #d87d56;
  font-family: "Lato-Regular", Helvetica;
  font-size: 17.7px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: 28.4px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.content-management .new-add-button {
  background-color: #464f34;
  border-radius: 24px;
  height: 48px;
  position: relative;
  width: 48px;
}

.content-management .element-17 {
  height: 28px;
  position: relative;
  width: 69.89px;
}

.content-management .text-wrapper-23 {
  color: #ffffff;
  font-family: "Lato-Regular", Helvetica;
  font-size: 17.7px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: 28.4px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.content-management .element-18 {
  height: 28px;
  position: relative;
  width: 71.89px;
}

.content-management .content-12 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 11px;
  justify-content: flex-end;
  margin-left: -93px;
  margin-right: -93px;
  position: relative;
  width: 262px;
}

.content-management .text-wrapper-24 {
  color: #353535;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1px;
  position: relative;
  width: 139px;
}

.content-management .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
