.content-management {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This makes sure your main container fills at least the whole height of the viewport */
  justify-content: space-between; /* This pushes the footer to the bottom */
}

.content-management .div-2 {
  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 1919px;
}







.content-management .button {
  all: unset;
  align-items: flex-start;
  background-color: #ebebd3;
  border-radius: 42px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 15px 23px;
  position: relative;
}


.content-management .newsletter-builder {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 681px;
  left: 0;
  padding: 50px 0px 50px;
  position: absolute;
  top: 243px;
  width: 1919px;
}

.content-management .div-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 781.87px;
}

.content-management .text-wrapper-heading {
  color: #181818;
  font-family: "Cabin-Bold", Helvetica;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 52.2px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 781.87px;
}

.content-management .element-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 1200.99px;
}

.content-management .element-title {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 794px;
}

.content-management .text-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 781.87px;
}

.content-management .text-wrapper-subheading {
  color: #181818;
  font-family: "Cabin-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 27.8px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 781.87px;
}

.content-management .input-instance {
  height: 71px !important;
  width: 624px !important;
}

.content-management .text-editor-instance {
  margin-bottom: -34px !important;
}

.content-management .content-wrapper-create {
  all: unset;
  align-items: center;
  background-color: #ebebd3;
  border-radius: 42px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 0px;
  overflow: hidden;
  padding: 8px 41px 8px 10px;
  position: relative;
  width: 127px;
}

.content-management .content-create {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 11px;
  justify-content: flex-end;
  margin-left: -88.5px;
  margin-right: -88.5px;
  position: relative;
  width: 253px;
}

.content-management .text-wrapper-create {
  color: #353535;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1px;
  position: relative;
  width: 139px;
}


.content-management .text-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 569px;
  position: absolute;
  top: 158px;
  width: 782px;
}

