 .mini-side-bar {
    background-color: #ebebd3;
    border-radius: 4px;
    left: 0;
    position: absolute;
    top: 0px;
    height: auto;
    bottom: 0;
    width: 108px;
  }
  
  
  
  .mini-side-bar .overlap-group-2 {
    height: 185px;
    left: 8px;
    position: relative;
    top: 48px;
    width: 93px;
  }

  .mini-side-bar .nav {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    left: 22px;
    position: absolute;
    top: 0;
  }

  .mini-side-bar .new-button {
    background-color: #464f34;
    border-radius: 24px;
    height: 48px;
    position: relative;
    width: 48px;
  }
  
  .mini-side-bar .icon-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 8px 12px;
    position: relative;
  }

  .mini-side-bar .text-wrapper-17 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 4px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 167px;
    width: 84px;
  }
  
  .mini-side-bar .text-wrapper-18 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 103px;
    width: 92px;
  }
  
  .mini-side-bar .text-wrapper-19 {
    color: #000000;
    font-family: "Noto Sans-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 47px;
    width: 92px;
  }

  .mini-side-bar .new-add-button {
    background-color: #464f34;
    border-radius: 24px;
    height: 48px;
    position: relative;
    width: 48px;
  }

  @media screen   and (max-width: 992px){
    .mini-side-bar .new-add-button {
      border-radius: 12px !important;
      height: 24px !important;
      width: 24px !important;
      padding: 8px 12px !important;
    }
  }
  .mini-side-bar .line-2 {
    height: 16px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 1px;
  }
  
  .mini-side-bar .line-3 {
    height: 1px;
    left: 38px;
    object-fit: cover;
    position: absolute;
    top: 23px;
    width: 16px;
  }
  