.header .overlap {
    height: 125px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; /* This spreads out the nav items evenly */
  }
  
 .header nav li {
    display: flex;
  }
  
 .header nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    /* You can add more styling here to suit your design */
  }

.header {
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(21px) brightness(100%);
    align-items: center;
    backdrop-filter: blur(21px) brightness(100%);
    background-color: #464f34e8;
    display: flex;
    gap: 5%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
    .header{
        padding: 40px 0px;
    }
}

@media screen and (min-width: 1921px) {
    .header{
        padding: 40px 360px;
    }
}

.header .ongoing-living-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 11px;
    position: relative;

}

.header .ongoing-living {
    color: #ffffff;
    font-family: "Cabin-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 31.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.header .menu-bar {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
}

.header .home-wrapper {
    height: 28px;
    position: relative;
    width: 65.89px;
}

.header .home {
    height: 28px;
    position: relative;
    width: 68px;
}

.header .text-wrapper-22 {
    color: #d87d56;
    font-family: "Lato-Regular", Helvetica;
    font-size: 17.7px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: 28.4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.header .ellipse {
    background-color: #d87d56;
    border: 0.98px solid;
    border-color: #e3ab9a;
    border-radius: 4.33px;
    height: 9px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 9px;
}

.header .element-17 {
    height: 28px;
    position: relative;
    width: 69.89px;
}

.header .home-2 {
    height: 28px;
    position: relative;
    width: 72px;
}

.header .text-wrapper-23 {
    color: #ffffff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 17.7px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: 28.4px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.header .ellipse-2 {
    border: 0.98px solid;
    border-color: #505050;
    border-radius: 4.33px;
    height: 9px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 9px;
}

.header .element-18 {
    height: 28px;
    position: relative;
    width: 71.89px;
}

.header .element-19 {
    height: 28px;
    margin-right: -2px;
    position: relative;
    width: 80.89px;
}

.header .button-2 {
    all: unset;
    align-items: center;
    background-color: #ebebd3;
    border-radius: 42px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-right: -97.31px;
    overflow: hidden;
    padding: 8px 41px 8px 10px;
    position: relative;
    width: 127px;
}
.header .login-button {
    all: unset;
    align-items: center;
    background-color: #ebebd3;
    border-radius: 42px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-right: -97.31px;
    overflow: hidden;
    padding: 8px 41px 8px 10px;
    position: relative;
    width: 127px;
}

.header .content-12 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 11px;
    justify-content: flex-end;
    margin-left: -93px;
    margin-right: -93px;
    position: relative;
    width: 262px;
}

.header .text-wrapper-24 {
    color: #353535;
    font-family: "Lato-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28.8px;
    margin-top: -1px;
    position: relative;
    width: 139px;
}

.header .image-4 {
    height: 90px;
    left: 248px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 90px;
}