
.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-page .div {
    background-color: #ffffff;
    /*height: 3793px;*/
    position: relative;
    width: 100%;
  }

  .home-page .div-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .home-page .div-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }

  .home-page .values {
    align-items: flex-start;
    gap: 117px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 2rem;
    /*top: 2740px;*/
    width: 1200px;
    max-width: 95%;
  }
  
  .home-page .history {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 31.75rem;
  }
  
  .home-page .text-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 507.89px;
  }
  
  .home-page .history-wrapper {
    align-items: flex-start;
    background-color: #748459;
    border-radius: 1.25rem;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 0px 15px;
    position: relative;
    width: 109px;
  }
  
  .home-page .history-2 {
    color: #ffffff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.32px;
    line-height: 23.6px;
    margin-right: -2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .text-wrapper-6 {
    color: #181818;
    font-family: "Cabin-Bold", Helvetica;
    font-size: 2.8125rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 52.2px;
    margin-top: -1px;
    position: relative;
    width: 507.89px;
  }
  
  .home-page .element-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 28px;
    position: relative;
    width: 459.3px;
  }
  
  .home-page .line-2 {
    height: 1px;
    margin-top: -1px;
    object-fit: cover;
    position: relative;
    width: 459.3px;
  }
  
  .home-page .content-4 {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    height: 147px;
    position: relative;
    width: 400px;
  }
  
  .home-page .element-3 {
    background-color: #7c746c;
    border-radius: 26.17px;
    height: 52.33px;
    position: relative;
    width: 52.33px;
  }
  
  .home-page .text-wrapper-7 {
    color: #181818;
    font-family: "Cabin-SemiBold", Helvetica;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23.2px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .p {
    color: #585566;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    height: 52.21px;
    letter-spacing: 0;
    line-height: 23.6px;
    position: relative;
    width: 331.61px;
  }
  
  .home-page .content-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .home-page .element-4 {
    background-color: #969786;
    border-radius: 26.17px;
    height: 52.33px;
    position: relative;
    width: 52.33px;
  }
  
  .home-page .text-wrapper-8 {
    color: #585566;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.6px;
    position: relative;
    width: 331.61px;
  }
  
  .home-page .element-5 {
    background-color: white;
    border-radius: 26.17px;
    height: 52.33px;
    position: relative;
    width: 52.33px;
  }
  
  .home-page .values-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.4375rem;
    position: relative;
    width: 35.8125rem;
  }
  
  .home-page .text-3 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 444px;
  }
  
  .home-page .core-wrapper {
    align-items: flex-start;
    background-color: white;
    border-radius: 1.25rem;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 0px 17px;
    position: relative;
  }
  
  .home-page .text-wrapper-9 {
    color: #181818;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.32px;
    line-height: 23.6px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .text-wrapper-10 {
    color: #181818;
    font-family: "Cabin-Bold", Helvetica;
    font-size: 2.8125rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 52.2px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .sub-text {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px;
    position: relative;
    width: 562.18px;
  }
  
  .home-page .at-o-l-l-i-our {
    color: #585566;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.6px;
    margin-top: -1px;
    position: relative;
    width: 542.18px;
  }
  
  .home-page .element-6 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 14px;
    position: relative;
    width: 573.72px;
  }
  
  .home-page .content-wrapper {
    align-items: flex-start;
    background-color: #f9f9f9;
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 1.25rem;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 33px 23px;
    position: relative;
  }
  
  .home-page .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 22px;
    position: relative;
  }
  
  .home-page .text-wrapper-11 {
    color: #585566;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.6px;
    position: relative;
    width: 233.86px;
  }
  
  .home-page .element-7 {
    flex-direction: column;
    gap: 10px;
    height: 257px;
    margin-right: -0.14px;
    padding: 33px 23px;
    position: relative;
    width: 280px;
    align-items: flex-start;
    background-color: #f9f9f9;
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 1.25rem;
    display: inline-flex;
    flex: 0 0 auto;
  }
  
  .home-page .text-wrapper-12 {
    color: #585566;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    height: 48.83px;
    letter-spacing: 0;
    line-height: 23.6px;
    position: relative;
    width: 233.86px;
  }
  
  .home-page .element-8 {
    align-items: flex-start;
    background-color: #f9f9f9;
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 222px;
    padding: 33px 23px;
    position: relative;
    width: 280px;
  }
  
  .home-page .element-9 {
    align-items: flex-start;
    background-color: #f9f9f9;
    border: 1px solid;
    border-color: #eaeaea;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 222px;
    padding: 33px 23px;
    position: relative;
    width: 277px;
  }
  
  .home-page .content-6 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 22px;
    margin-right: -2.86px;
    position: relative;
    width: 233.86px;
  }
  
  .home-page .element-ways {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*height: 1064px;*/
    left: 0;
    padding: 50px 0px 170px;
    position: relative;
    top: 1rem;
    /*top: 1362px;*/
    width: 100%;
  }

  .home-page .img-partner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 191px;
  }

  .home-page .partner-text {
    color: #181818;
    font-family: "Lato-Bold", Helvetica;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26.6px;
    text-align: center;
  }
  
  .home-page .content-7 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 38px;
    margin-bottom: -99px;
    position: relative;
    width: 1200.99px;
  }
  
  .home-page .text-4 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 48.875rem;
  }
  
  .home-page .services-wrapper {
    align-items: center;
    background-color: #748459;
    border-radius: 1.25rem;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 0px 16px;
    position: relative;
  }
  
  .home-page .services {
    color: #ffffff;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2.32px;
    line-height: 23.6px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .text-wrapper-13 {
    color: #181818;
    font-family: "Cabin-Bold", Helvetica;
    font-size: 2.8125rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 52.2px;
    position: relative;
    text-align: center;
    width: 781.87px;
    width: fit-content;
  }
  
  .home-page .content-8 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;
    max-width: 1200.99px;
    width: fit-content;
    height: auto;
  }
  .home-page .accordion, .accordion-collapse {
    width: 95%;
    max-width: 1200.99px;
  }

  .home-page .accordion-header {
    align-items: center;
    width: inherit;
  }
  
  .home-page .element-10 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 1.25rem;
    position: relative;
    width: 794px;
  }
  
  .home-page .element-11 {
    align-items: flex-start;
    background-color: #eaeaea;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 49px 47px;
    position: relative;
    width: 387px;
  }
  
  .home-page .element-12 {
    height: 150px;
    position: relative;
    width: 146.13px;
  }
  
  .home-page .content-9 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 293px;
  }
  
  .home-page .title-2 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 25px;
    position: relative;
    width: 197px;
  }
  
  .home-page .text-wrapper-14 {
    color: #181818;
    font-family: "Cabin-SemiBold", Helvetica;
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .home-page .vstack {
    align-self: auto !important;
  }
  .home-page .text-wrapper-15 {
    color: #585566;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.6px;
    position: relative;
    width: 293px;
  }
  
  .home-page .element-13 {
    align-items: flex-start;
    background-color: #eaeaea;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3.0625rem 2.9375rem;
    position: relative;
    width: 386px;
  }

  @media screen and (min-width: 992px) {
    .home-page .values {
      display: flex;
    }
  }

  @media screen and (min-width: 992px) {
    .home-page .about {
      width:  1200px;
      display: flex;
    } 
  }

  .home-page .img-2 {
    height: 150px;
    position: relative;
    width: 150px;
  }
  
  .home-page .content-10 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    margin-right: -1px;
    position: relative;
    width: 293px;
  }
  
  .home-page .text-wrapper-16 {
    color: #000000;
    font-family: "Cabin-SemiBold", Helvetica;
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .text-wrapper-17 {
    color: #000000;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.6px;
    position: relative;
    width: 293px;
  }
  
  .home-page .text-wrapper-18 {
    color: #181818;
    font-family: "Cabin-SemiBold", Helvetica;
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .element-14 {
    align-items: flex-start;
    background-color: #eaeaea;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: -0.01px;
    padding: 49px 47px;
    position: relative;
    width: 387px;
  }
  
  .home-page .cheer-connections {
    height: 150px;
    object-fit: cover;
    position: relative;
    width: 150px;
  }
  
  .home-page .text-wrapper-19 {
    color: #181818;
    font-family: "Cabin-SemiBold", Helvetica;
    font-size: 1.5625rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    margin-right: -47px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home-page .about {
    align-items: flex-start;
    gap: 4rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: 1rem;
    width: 1200px;
    max-width: 95%;
  }
  
  .home-page .content-11 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 55px;
    position: relative;
    width: 420.2px;
  }
  
  .home-page .text-5 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 18px;
    position: relative;
    width: 420.2px;
  }
  
  .home-page .element-15 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 22px;
    position: relative;
    width: 420.2px;
  }
  
  .home-page .about-us-wrapper {
    align-items: center;
    background-color: #ebebd3;
    border-radius: 1.25rem;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 0px 12px;
    position: relative;
  }
  
  .home-page .about-ongoing-living {
    color: #181818;
    font-family: "Cabin-Bold", Helvetica;
    font-size: 2.8125rem;
    font-weight: 700;
    height: 106.55px;
    letter-spacing: 0;
    line-height: 52.2px;
    position: relative;
    width: 420.2px;
  }
  .scroll-container {
    display: flex;
    align-items: center;
}
  
  .home-page .element-16 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 0.6875rem;
    position: relative;
    top: 1rem;
    width: 26.25rem;
  }
  
  .home-page .text-wrapper-20 {
    color: #181818;
    font-family: "Lato-Bold", Helvetica;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26.6px;
    margin-top: -1px;
    position: relative;
    width: 373.07px;
  }
  
  .home-page .text-wrapper-21 {
    color: #585566;
    font-family: "Lato-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 23.6px;
    position: relative;
    width: 26.25rem;
  }
  
  .home-page .image {
    height: 464.17px;
    position: relative;
    width: 714.82px;
  }
  
  .home-page .overlap-group-2 {
    height: 464px;
    position: relative;
    width: 715px;
  }
  
  .home-page .background-pattern {
    height: 328px;
    left: 0;
    position: absolute;
    
    width: 328px;
  }

  @media screen and (min-width: 992px) {
    .home-page .background-pattern{
      top: 8.5rem;
    }
  }
  
  @media screen and (max-width: 992px) {
    .home-page .image-2 {
      height: 396px;
      left: 50% !important;
      transform: translateX(-50%);
      width: 396px !important;
      object-position: 73% 0%;
      position: relative !important;
    }
    .home-page .content-11, .home-page .text-5, .home-page .element-15, 
    .home-page .element-16, .home-page .text-wrapper-20, 
    .home-page .text-wrapper-21, .home-page .about-ongoing-living, 
    .home-page .content-7, .home-page .text-4, .home-page .text-wrapper-13,
    .home-page .sub-text, .home-page .at-o-l-l-i-our{
      width: fit-content !important;
    }

    .home-page .values-2 {
      width: auto !important;
    }
    
    .home-page .history {
      left: 50% !important;
      transform: translateX(-50%);
      width:auto;
    }
    
    .home-page .div-3 {
      left: 50% !important;
      transform: translateX(-50%);
    }
    .home-page .element-6 {
      left: 50% !important;
      transform: translateX(-50%);
      height: auto !important;
      width: auto !important;
    }
    .home-page .element-7, .home-page .element-8, .home-page .element-9, .home-page .content-6{
      height: auto !important;
      width: auto !important;
    }
    .home-page .element-ways {
      height: auto !important;
    }
  }
  
  .home-page .image-2 {
    height: 396px;
    left: 81px;
    position: absolute;
    top: 0;
    width: 634px;
    object-fit: cover;
  }
  
  .home-page .banner {
    /*height: 500px;*/
    left: 0;
    position: relative;
    /*top: 125px;*/
    width: 100%;
    max-height:500px;
  }
  
  .home-page .image-3 {
    height: fit-content;
    left: 0;
    object-fit: cover;
    position: relative;
    /*top: 0;*/
    width: 100%;
  }
  

