/* PhotoUpload.css */
.gallery-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

.header_footer_div{
    display: flex;
    flex-direction: column;
    height: 150vh;
    background-color: #deafa1;
  }

.upload-form {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 80%;
    align-content: center;
    background-color: #f4ecdc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.upload-form input[type="file"] {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 15px;
}

.upload-form input[type="text"] {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 15px;
}

.upload-form button {
    background-color: #565e46;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%
}

.upload-form button:hover {
    background-color: #a4b385;
}

.upload-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .gallery-page {
        padding: 10px;
    }

    .upload-form {
        padding: 10px;
    }
}

.image-preview {
    display: flex;
     justify-content: center;
    align-items: center; 
    overflow: hidden; /* This ensures the image does not overflow the container */
    margin-top: 20px; /* Adds some space above the preview */
    height: 80vh; /* Set a fixed height for the preview area */
    background-color: #deafa1;/* Optional: adds a background color to the preview area */
     /* Optional: adds a border around the preview area */
    /* align-self: flex-end; */
    width: 48%;
    

}

.upload-div {
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden; /* This ensures the image does not overflow the container */
    margin-top: 20px; /* Adds some space above the preview */
    height: 80vh; /* Set a fixed height for the preview area */
    /* background-color: #deafa1; */
    align-self: flex-start;
    width: 48%;


}

.image-preview img {
    width: 100%; 
    height: 100%;
    
    /* Centering image if it is smaller than container */
    margin: right;
    display: block;
    object-fit: contain;
    
    box-shadow: 100px 100px 104px rgba(0,0,0,0.8);
}

.side-by-side{
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: start; /* Adjust if you want the items to be aligned differently */
    width: 100%; /* Adjust as needed */
    
  }
  .placeholder-text {
    color: #565e46; /* Light grey text */
    text-align: center;
    align-self: center;
    justify-content: left;
    justify-self: center;
    align-items: center; 
    line-height: 500px; /* Aligns text vertically; should match .image-preview height */
    font-size: 150px;
    
}


