


 .edit-user-profile, .edit-profile-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-up {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button {
  all: unset;
  align-items: flex-start;
  background-color: #ebebd3;
  border-radius: 42px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 15px 23px;
  position: relative;
}

.login-form {
  align-items: flex-start;
  display: inline-flex;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  color: #181818;
  font-family: "Cabin-Bold", Helvetica;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 52.2px;
  margin-top: -1px;
  margin-bottom: 0px;
  position: relative;
  width: 398px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.bio {
  color: #585566;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.6px;
  position: relative;
  width: 407px;
}

.login-form-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  position: relative;
  width: fit-content;
}

.form-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.element-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.example-text {
  color: #a8a8a8;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.input-label {
  color: #181818;
  font-family: "Lato-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button {
  all: unset;
  align-items: flex-start;
  background-color: #ebebd3;
  border-radius: 42px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 16px 27px;
  position: relative;
  color: #353535;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
  top: 1rem;
}

.sign-up-button {
  all: unset;
  align-items: flex-start;
  background-color: #ebebd3;
  border-radius: 42px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 16px 27px;
  position: relative;
  color: #353535;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

@media screen and (max-width: 992px){
  .sign-up {
    display: grid !important;
  }
  .sign-up-form {
    display: grid !important;    
  }

  .login-form {
    display: grid !important; 
  }
  
  .form-wrapper {
    display: grid !important;
  }
  
  .bio, .h2 {
    width: fit-content !important;
  }
  
  .h2 {
    width: fit-content !important;
  }

  .line {
    margin: 2rem 0;
  }  
  
}

@media screen and (min-width: 992px){
  .login-form {
    gap: 5.6875rem;  
  }
  .sign-up-form {
    gap: 5.6875rem;    
  }

  .sign-up {
      justify-content: center;
  }
}


.sign-up-form {
  align-items: flex-start;
  display: flex;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 0px;
  width: 100%;
  max-width: 1200px;
}

.sign-up-form-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-right: -0.04px;
  position: relative;
  width: 100%;
}

.edit-profile-form {
  align-items: flex-start;
  display: flex;
  gap: 91px;
  height: auto;
  /*left: 360px;*/
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  /*top: 443px;*/
  width: 1200px;
}

.edit-profile-form-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-right: -0.04px;
  position: relative;
  width: 688.37px;
}

.line {
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  position: relative;
  top: 1rem;
  width: 100%;
}

.text-input {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #c1c1c1;
  border-radius: 3.375rem;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 1rem;
  position: relative;
  width: 17rem;
}

.login-form-instance {
  margin-bottom: 1rem;
}

/* Add to your styles.css or a similar stylesheet */
.star-rating-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the space between stars */
}

.star-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ccc; /* Default star color */
  font-size: 24px; /* Adjust based on your design */
}

.star-button.filled {
  color: gold; /* Active star color */
}

/* Since we're using the .button class, ensure any unwanted styles are overridden or adapted */
.star-button.button {
  padding: 0; /* Remove padding from .button class if necessary */
  margin: 0; /* Adjust margin if needed */
  background-color: transparent; /* Override button background */
  box-shadow: none; /* Remove any box-shadow from .button class */
}
